<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>

    {{> header}}

    <p>Some about stuff here.</p>
  </body>

  {{> footer}}
</html>
